@import '../../assets/variables.scss';

.todays-axes {
  display: flex;
  height: 100%;
  gap: 5px;

  & > div {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
}

.golden-axe {
  background-color: $gold;
  color: $black;
}

.axes {
  border: 1px solid $border-color;
  height: 100%;
  flex: 2 1 auto
}

.clients {
  border: 1px solid $border-color;
  height: 100%;
}

.axe {
  background-color: unset;
}

.expander {
  float: right !important;
}

.selected-client {
  @extend .prevent-text-selection !optional;
  border: 1px solid $teal;
  background-color: #00b0ff33 !important;
}

.bonds-container {
  padding: 5px;
  height: auto;
  max-height: 100px;
}

.header {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  width:100%;
  height:100%;
}

.news-header {
  width: 100%;
}

.title {
  float: left !important;
}

.expander-button {
}

.expander-button-open {
  transform: rotate(180deg);
}

.recommended-clients {
  gap: 3px;
  max-height: 400px;
}

.bond-item {
  width: 100%;
  justify-items: stretch;
}