@import '../../assets/variables.scss';

.todays-axes {
  height: 100%;
  gap: 5px;

  & > div {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
}

.golden-axe {
  background-color: $gold;
  color: $black;
}

.axes {
  border: 1px solid $border-color;
  height: 100%;
  min-width: 70%;
}

.clients {
  border: 1px solid $border-color;
  min-width: 30%;
}

.axe {
  background-color: unset;
}

.expander {
  float: right !important;
}

.selected-client {
  @extend .prevent-text-selection !optional;
  border: 1px solid $teal;
  background-color: #00b0ff33 !important;
}

.bonds-container {
  padding: 5px;
  height: auto;
  max-height: 100px;
}

.expanded-section {
  margin-top: 5px;
}

.header {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  width:100%;
  height:100%;
}

.news-header {
  width: 100%;
}

.title {
  float: left !important;
}

.expander-button {
  cursor: pointer;
}

.expander-button-open {
  transform: rotate(180deg);
  cursor: pointer;
}

.recommended-clients {
  gap: 3px;

}

.recommendation-container {
  max-height: 375px;
  display: grid;
  gap: 10px;
  grid-auto-rows: auto auto minmax(75px, 225px);
  overflow-y: auto;
}

.recommendation-header {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.description {
  color: $yellow;
}

.size {
  color: $green;

  ul {
    padding-left: 20px;
    display: list-item;
    list-style-type: disc;
    li {
      font-size: 11px;
    }
  }
}

.trace {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;

  ul {
    padding-left: 20px;
    display: list-item;
    list-style-type: disc;
    li {
      font-size: 11px;
    }
  }
}

.trace-header {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}

.bond-item {
  width: 100%;
  justify-items: stretch;
}

.icons {
  display: flex;
  gap: 10px;

  & > div {
    cursor: pointer;
  }
}

.client-item {
  cursor: default !important;
}