@import '../../assets/variables.scss';

.corporate-actions {
  display: flex;
  flex: 1 1 100%;

  &>div {
    flex: 1 1 50%;
  }
}

.chatbot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.corporate-actions-response {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  gap: 10px;
  padding: 0 5px;

  .corporate-action {
    background-color: $gray-1000;
    padding: 5px;
    border-radius: 5px;

    .header {
      display: flex;
      align-items: center;
      padding: 5px;
      gap: 10px;
    }

    .action-buttons {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      flex: 2 1 50%;
      font-size: 16px;

      .button-container {
        background-color: $teal-100;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: $teal-100;
        }
      }
    }
  }
}

.corporate-action-body {
  display: flex;
  margin-top: 10px;
  
  & > div {
    flex: 1 1 50%;
    padding: 10px;
  }

  .basic-info {
    border-right: 1px solid #2f2f2f;
  }
}

.email-content {
  padding: 0 10px;

  .email-viewer {
    height: calc(100vh - 350px);
  }
}

.search-bar {
  margin: 0px 0;
  padding: 5px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: $gray-1000;
  box-sizing: border-box;
}