.menu {
  padding: 10px;
  max-width: 350px;
  font-size: 13px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}

.parent-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.menu-item .icon {
  width: 30px;
  font-size: 16px;
  color: $font-color-gray;
}

.menu-item .text {
  flex-grow: 1;
}

.menu-item .badge {
  background-color: #444;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.8em;
  color: #fff;
}

.submenu {
  width: 100%;
  padding: 5px 30px;
}

.submenu-item {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  color: $font-color-200;
}

.submenu-item .timestamp {
  color: #777;
}