@import './variables.scss';

.profile-pic {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  display: flex;
}