@import '../../assets/variables.scss';

.tile {
  border: 1px solid $border-color;
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
  height: calc(100vh - 450px);
  width: 500px;

  @media screen and (max-width: $mobile-breakpoint-max) {
    width: calc(100vw - 35px);
    height: 750px;
    vertical-align: center;
  }
}

.remove-panel {
  display: flex;
  justify-content: flex-end;
}

.remove-button {
  cursor: pointer;
}

.price-summary-table {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 10px 5px;
  // border-bottom: 1px solid $border-color;
}

.price-graph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 50%;
  max-height: 45vh;
}

.financial-details-table {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 10px 5px;
  // border-bottom: 1px solid $border-color;
}

.price-graph-title {
  font-size: 16px;
  color: $white;
  display: flex;
  gap: 5px;
  align-items: center;
  border-bottom: 1px solid $border-color;
  padding: 5px 0;
}

.company-details {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px 0px 10px 5px;

  .logo {
    height: 50px;
    width: 50px;
  }

  .details  {
    display: flex;
    flex-direction: column;
  }
}

.current-price-info {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  align-items: center;
  width: 100%;
  padding: 0px;
}

.current-price-section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px;
  vertical-align: center;
  align-items: center;
  align-content: center;
}

.current-price {
  font-size: 40px;
  font-weight: bolder;
}

.price-change-positive {
  color: $green;
}

.price-change-negative {
  color: $red;
}

.price-change {
  color: $white;
}

.price-timestamp {
  font-size: 11px;
}
