@import '../../assets/variables.scss';

.hurricane-pms {
    height: calc(100vh - 125px);
}

.table-header {
    color: $yellow;
    font-weight: bold;
}

.pinned-top-row {
    font-weight: 800;
}

:global(.hurrican-grid) :global(.ag-row-even:not(.ag-row-pinned)) {
    background-color: #002060 !important;
}

:global(.hurrican-grid) :global(.ag-row-even1:not(.ag-row-pinned)) {
    background-color: #0070c0 !important;
}

.pl-chart-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 8px;
  }