@import '../../assets/variables.scss';

.breaking-news {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: flex-start;
  max-height: 42vh;
  color: $font-color-100;

  & > div {
    flex: 1 1 50%; /* Each item takes 50% of the width minus the gap */
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
}

.expanded {
  max-height: 88vh;
}