@import '../../assets/variables.scss';

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  // move this to the header class
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 40px;
    align-content: center;
    padding: 10px 10px 0px 10px;
  }
  
  main {
    flex: 1 1 90%;
    display: flex;
    padding: 10px;
    gap: 10px;
  }

  .left-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 10%;
    gap: 10px;
    max-width: 300px;
    min-width: 300px;
  }
  
  .middle-panel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 70%;
    grid-auto-rows: 50%;
  }

  .middle-panel-bottom-widgets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 100%;
    grid-auto-rows: 50%;
    grid-gap: 5px;
  }

  .middle-panel-bottom-widgets > * {
    border: 1px solid $border-color;
    border-radius: 5px;
    height: 100%;
    align-items: stretch;
  }

  .widget {
  }

  .trading-activity {
    @extend .widget;
  }

  .news-panel {
    @extend .widget;
  }

  .holdings-panel {
    @extend .widget;
  }

  .traces-panel {
    @extend .widget;
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 15%;
    gap: 10px;
  }
}