@import '../../assets/variables.scss';

.macro-panel {
  display: flex;
  gap: 20px;
  
  @media screen and (max-width: $mobile-breakpoint-max) {
    flex-direction: column;
  }

  .previous-reports {
    flex: 1 1 40%;
  }


  .bloomberg-report {
    flex: 1 1 60%;

    .email-viewer {
      height: calc(100vh - 300px);
    }
  }
}
