@import '../../assets/variables.scss';

.macro-panel {
  display: flex;
  gap: 20px;

  .previous-reports {
    flex: 1 1 40%;
  }


  .bloomberg-report {
    height: calc(100vh - 300px);
    flex: 1 1 60%;
  }


}